@import url('https://fonts.cdnfonts.com/css/modern-typewriter');
body {
   overflow: visible;
}

.about {
   display: flex;
   flex-wrap: wrap;
}

.header {
   width: 100%;
}

.head_text {
   font-size: 36px;
   color: #333;
   text-transform: uppercase;
  
   font-size: 5rem;
   line-height: 1;
   font-weight: 800;
   margin-left: 2rem;
   text-align: left;
}

.content {
   display: flex;
   width: 100%;
   margin-top: 20px;
   align-items: center;
   border-radius: 20px;
}

.paragraph {
   flex: 0.5;
   margin-right: 6rem;
   padding: 1rem;
   color: white;
   background-color: rgba(251, 237, 237, 0.2); 
  backdrop-filter: blur(100px);
   font-weight: 600;
   padding: 5rem;
   align-content: center;
   border: 1px solid white;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
  z-index: -9999999999;
   justify-items: center;
   font-size: 1.25rem;

}

.bordered-div {
   flex: 1;
   margin-left: 6rem;
   width: auto;
   height: auto;



}

.bordered-div img {
   width: 50vw;
   height: 80%;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   border: 1px solid white;
}

/* Media query for screens with a width of 768px or less */
@media screen and (max-width: 768px) {
   .content {
      flex-direction: column;
      margin: 0;
   }

   .paragraph {
      margin-top: 20px;

      padding: 1rem;
   }

   .head_text {
      font-size: 3rem;
      float: left;
      margin-left: 0;
      text-align: left;
   }
}
