body{
    overflow-x: hidden;
}
.background{
    position: absolute;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 90vh;
    z-index: -99999;
}
.back{
    z-index: -99999;
    opacity: 0.2;
    width: 50%;
    height: 70%;
    animation: rotateX 30s 1ms ease infinite; 
}


@keyframes rotateX {
    0% {
        overflow: hidden;
        transform: rotateZ(0deg);
    }
    100% {
        overflow: hidden;
        transform: rotateZ(360deg);
    }
}
@media  screen and(max-width: 768px) {
    .background{
        width: 100vh;
        height: 90vh;
    }

}





