.background{
    display: flex;
    justify-content: center;
}
.back{
    position: absolute;
    justify-content: center;
    z-index: -99999;
    opacity: 0.2;
    width: 80%;
    overflow: hidden;
    animation: rotateX 30s 1ms ease infinite; 
}

@keyframes rotateX {
    0% {
        overflow: hidden;
        transform: rotateZ(0deg);
    }
    100% {
        overflow: hidden;
        transform: rotateZ(360deg);
    }
}






