.header{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1{
    font-size: 4.5rem;
}
.atom-robotics{
background: linear-gradient(90deg, #CD51CF 0%, rgba(255, 255, 255, 0.46) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Poppins;
font-size: 4.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
h6{
    padding: 0;
    margin: 0;
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 1.75rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.button_grp{
   margin-top: 4rem;
}
.button{
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 3rem;
    width: 13rem;
    font-size: 1rem;
    font-family: Poppins;
    color: WHITE;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    cursor: pointer;
    background-image: linear-gradient(to right, #6fd0f9, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.selection{
    background-image: linear-gradient(to right,  #6fd0f9, #4481eb, #04befe, #3f86ed);
    color: white;
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.button:hover{
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;  
}
.heading_contain{
    width: 100vh;
    display: block;
}
.active{
    color: rgb(113, 234, 255);
    font-weight: bold;
    text-decoration: none;
}
@media  screen and (max-width: 768px) {
    .heading_contain{
        width: 100%;   
    }
    h1 , .atom-robotics{
        font-size: 3.5rem;
    }
}