
nav {
    color: rgb(255, 255, 255);

    top: 0px;
}
  
.nav {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: left;
}

.nav li {
    margin: 0;
    padding: 0;
}

.nav li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-decoration: none;
    transition: all ease-in-out 0.5s;
    position: relative; 
}

.nav li a.active::after, 
.nav li a:hover::after { 
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 16px;
    width: 50%;
    transition: all ease-in-out 0.5s;
    background-color: rgb(255, 255, 255);
    height: 3px;
}
.head{
    transition: opacity ease-in-out 0.3s;
}


/* Responsive styles */
@media screen and (max-width: 600px) {
    .nav {
        flex-direction: column;
    }
  
    .nav li {
        text-align: center;
    }
    .nav li a.active::after, 
    .nav li a:hover::after { 
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 45%;
    width: 10%;
    transition: all ease-in-out 0.5s;
    background-color: rgb(255, 255, 255);
    height: 3px;
}
}
