@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    color: white;
    cursor: none;

}
body{
    height: 4444px;
    background: #0B0312;
}
.cursor{
    /* background-color: white; */
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    z-index: 99999;
    pointer-events: none;
}
